body {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 17px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

body a {
  text-decoration: none;
}

body img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

main {
  display: block;
}

.main-header {
  width: 1200px;
  margin-bottom: 60px;
  padding-bottom: 59px;

  background-color: #f4f7f9;
}

.main-header.catalog-page {
  margin-bottom: 0;
}

.main-header ul {
  list-style: none;
}

.pre-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  min-height: 42px;
  padding-right: 130px;
  padding-left: 130px;

  color: #ffffff;
  background-color: #293449;
}

.pre-header a {
  color: #ffffff;
}

.logo-link {
  position: absolute;

  display: inline-block;

  width: 220px;
  padding-top: 13px;
  padding-bottom: 12px;

  text-align: center;

  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .24);
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .24);
}

.logo-link:hover {
  background-color: #ca2c37;
}

.logo-link:active {
  color: #ba2732;
}

.extra-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 710px;
  margin-left: 230px;
}

.extra-navigation form {
  width: 304px;
}

.extra-navigation input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 300px;
  padding-left: 40px;

  border: none;
  outline: none;
  background-color: #293449;
  background-image: url('../img/icon-search-grey.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 17px 17px;
}

.extra-navigation input:hover {
  background-image: url('../img/icon-search-white.svg');
}

.extra-navigation input:focus {
  height: 42px;

  background-color: #ffffff;
  background-image: url('../img/icon-search-red.svg');
}

.extra-navigation input::-webkit-input-placeholder {
  font-size: 17px;

  color: #ffffff;
}

.extra-navigation input:-ms-input-placeholder {
  font-size: 17px;

  color: #ffffff;
}

.extra-navigation input::-ms-input-placeholder {
  font-size: 17px;

  color: #ffffff;
}

.extra-navigation input::placeholder {
  font-size: 17px;

  color: #ffffff;
}

.extra-navigation-link:hover {
  background-color: #212a3a;
}

.extra-navigation-link:active {
  background-color: #161d29;
}

.extra-navigation-link.bookmarks::before {
  display: inline-block;

  width: 14px;
  height: 16px;

  content: '';

  opacity: .5;
  background-image: url('../img/icon-bookmark.svg');
  background-repeat: no-repeat;
}

.extra-navigation-link.bookmarks::after {
  content: ' 0';
}

.extra-navigation-link.bookmarks:hover::before {
  opacity: 1;
}

.extra-navigation-link.cart::before {
  display: inline-block;

  width: 14px;
  height: 16px;

  content: '';

  opacity: .5;
  background-image: url('../img/icon-cart-small.svg');
  background-repeat: no-repeat;
}

.extra-navigation-link.cart::after {
  content: ' 0';
}

.extra-navigation-link.cart:hover::before {
  opacity: 1;
}

.extra-navigation-link.cart-full {
  display: inline-block;

  width: 151px;
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 13px;

  text-align: center;

  background-color: #ee3643;
}

.extra-navigation-link.buy {
  display: inline-block;

  width: 151px;
  padding-top: 12px;
  padding-bottom: 13px;

  text-align: center;

  background-color: #63a63e;
}

.extra-navigation-link.buy:hover {
  background-color: #5fbb2d;
}

.extra-navigation-link.buy:active {
  background-color: #518534;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 46px;
  padding-right: 130px;
  padding-bottom: 24px;
  padding-left: 182px;
}

.header-phone {
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 19px;
}

.header-info-text {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;

  width: 196px;
  margin-top: 0;
  margin-right: 71px;
  padding-top: 3px;

  color: #ee3643;
}

.header-info-contacts {
  width: 271px;
  margin-right: 50px;
}

.header-info-contacts.catalog-page {
  margin-right: 43px;
}

.header-info-contacts a {
  font-size: 21px;

  display: block;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 48px;
  padding-bottom: 12px;
  padding-left: 72px;

  color: #e9292a;
  border: 3px solid #ffffff;
}

.header-info-contacts span {
  font-size: 14px;
  font-weight: normal;

  display: inline-block;

  padding: 10px;
  padding-top: 7px;

  color: #32425c;
}

.profile-extra a {
  font-size: 16px;
  font-weight: normal;

  color: #32425c;
  border-bottom: 1px solid #32425c;
}

.profile-extra a:hover {
  color: #ee3643;
  border-bottom-color: #ee3643;
}

.profile-extra a:active {
  color: rgba(0, 0, 0, .3);
  border-bottom-color: rgba(0, 0, 0, .3);
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 940px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  padding-top: 20px;
  padding-right: 53px;
  padding-bottom: 23px;
  padding-left: 52px;

  color: #ffffff;
  background-color: #32425c;
}

.main-navigation a {
  color: #ffffff;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, .5);
  background-color: #1d2739;
}

.main-wrapper {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 508px;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-left: 130px;

  list-style: none;
}

.breadcrumbs li:not(:last-child)::after {
  display: inline-block;

  width: 8px;
  height: 12px;

  content: '';

  background-image: url('../img/icon-right-small.svg');
  background-repeat: no-repeat;
}

.breadcrumbs a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;

  text-transform: uppercase;

  color: #000000;
}

.breadcrumbs-home {
  display: inline-block;

  width: 14px;
  height: 12px;

  background-image: url('../img/icon-home.svg');
}

.sort {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: normal;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-bottom: 22px;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;

  text-transform: uppercase;

  background-color: #f7f3ec;
}

.sort ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 445px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort .sort-title {
  font-size: 13px;
  font-weight: normal;

  margin: 0;

  color: #000000;
  background-color: transparent;
}

.sort a {
  font-size: 13px;
  font-weight: normal;

  color: rgba(0, 0, 0, .3);
  border-bottom: 1px dashed #ee3643;
}

.sort a:hover {
  color: #000000;
}

.sort a.active {
  color: #ee3643;
  border: none;
}

.promo-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-bottom: 20px;
  padding: 0;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 22px;
}

.catalog-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;

  margin: 0;
  margin-bottom: 20px;
  padding-top: 34px;
  padding-bottom: 35px;
  padding-left: 28px;

  text-transform: uppercase;

  color: #32425c;
  background-color: #f2f6f8;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;
}

.product-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  width: 218px;
  min-height: 316px;
  margin-right: 20px;
  margin-bottom: 20px;

  text-align: center;

  border: solid 1px #eaeaea;
}

.product-item h3 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;

  margin: 0;
}

.product-item.catalog-product:nth-child(3n) {
  margin-right: 0;
}

.product-item.index-product:nth-child(4n) {
  margin-right: 0;
}

.product-wrap {
  position: relative;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product-wrap img {
  -webkit-transition: .3s;
  transition: .3s;
}

.product-wrap:hover img {
  -webkit-transition: .3s;
  transition: .3s;

  opacity: 0;
}

.product-controls {
  font-size: 14px;

  position: absolute;
  z-index: -2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;

  opacity: 0;
}

.product-controls button {
  width: 135px;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.product-wrap:hover .product-controls {
  z-index: 2;

  -webkit-transition: .3s;
  transition: .3s;

  opacity: 1;
}

.btn-buy {
  text-transform: uppercase;

  color: #ffffff;
  background-color: #63a63e;
}

.btn-buy:hover {
  background-color: #5fbb2d;
}

.btn-buy:hover::before {
  opacity: 1;
}

.btn-buy:active {
  background-color: #518534;
}

.btn-buy::before {
  display: inline-block;

  width: 15px;
  height: 15px;

  content: '';

  opacity: .5;
  background-image: url('../img/icon-cart-small.svg');
  background-repeat: no-repeat;
}

.btn-wishlist {
  text-transform: uppercase;

  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}

.btn-wishlist:hover {
  color: #32425c;
  border-color: #32425c;
}

.btn-wishlist:active {
  color: rgba(50, 66, 92, .3);
  border-color: rgba(50, 66, 92, .3);
}

.old-price {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;

  text-decoration: line-through;

  color: #999999;
}

.new-price {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;

  width: 120px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;
}

.new-price::after {
  position: relative;
  left: 37px;

  display: inline-block;

  content: '';
  vertical-align: middle;

  border: 16px solid #ee3643;
  border-top-color: transparent;
  border-right: 0;
  border-bottom-color: transparent;
}

.tag-new {
  font-size: 17px;
  font-weight: normal;

  position: absolute;
  z-index: 2;
  top: 3px;
  right: -28px;

  display: inline-block;

  width: 93px;
  padding: 6px 0;

  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  color: #ffffff;
  background-color: #ee3643;
}

.filter-section {
  margin-right: 20px;
}

.filter-section fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;

  margin: 0;
  margin-bottom: 22px;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;

  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-subtitle {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;

  text-transform: uppercase;
}

.range-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 80px;
  padding-right: 0;
  padding-left: 0;

  background-color: #f7f3ec;
}

.range-line {
  position: relative;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 180px;
  height: 2px;
  margin: 0;
  padding: 0;

  background-color: #d7dcde;
}

.range-bubble {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  text-align: center;

  border-radius: 50%;
  background-color: #ffffff;
}

.range-dot {
  display: inline-block;

  width: 4px;
  height: 4px;

  vertical-align: middle;

  border-radius: 50%;
  background-color: #d7dcde;
}

.range-line-active {
  position: relative;
  z-index: 2;

  width: 110px;
  height: 2px;

  background-color: #5fbb2d;
}

.filter-price-field {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;

  width: 77px;
  height: 38px;
  margin-top: 9px;
  margin-bottom: 25px;

  text-align: center;

  border: none;
  background-color: #f7f3ec;
}

.filter-section {
  width: 640px;
}

.filter-section ul {
  list-style: none;
}

.filter-section .filter-manufacturer,
.filter-section .filter-price {
  margin-bottom: 20px;

  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.label-manufacturer::before {
  display: inline-block;

  width: 27px;
  height: 23px;

  content: '';
  cursor: pointer;

  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
}

.checkbox-manufacturer:checked~.label-manufacturer::before {
  background-image: url('../img/checkbox-on.svg');
}

.label-power::before {
  display: inline-block;

  width: 25px;
  height: 25px;

  content: '';
  cursor: pointer;

  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
}

.radio-power:checked~.label-power::before {
  background-image: url('../img/radio-on.svg');
}

.label-manufacturer,
.label-power {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;

  cursor: pointer;
  text-transform: uppercase;
}

.filter-btn {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;

  width: 139px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 177px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-top: 52px;

  list-style: none;
}

.pagination-item {
  font-size: 13px;

  padding: 15px;

  text-transform: uppercase;

  color: #000000;
  border: 1px solid #e5e5e5;
}

.pagination-item:hover {
  border-color: #bdc6ca;
}

.pagination-item:active {
  border-color: #ee3643;
}

.pagination-item.active {
  color: #ffffff;
  background-color: #ee3643;
}

.product-description {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  padding-top: 65px;
  padding-right: 130px;
  padding-bottom: 65px;
  padding-left: 130px;

  background-color: #f4f7f9;
}

.product-description h2 {
  font-size: 30px;
  line-height: 30px;

  margin: 0;

  text-transform: uppercase;
}

.product-description p {
  margin: 0;
  padding-top: 30px;
}

.footer-logo {
  background-color: #ee3643;
}

.footer-logo:hover {
  background-color: #ca2c37;
}

.footer-logo:active {
  color: #ba2732;
}

.pre-footer {
  font-size: 18px;
  font-weight: normal;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin-bottom: 0;
  padding-right: 130px;
  padding-bottom: 33px;
  padding-left: 130px;

  color: #f1f5f7;
  background-color: #32425c;
}

.pre-footer ul {
  list-style: none;
}

.pre-footer a {
  font-size: 18px;
  font-weight: normal;

  color: #f1f5f7;
}

.pre-footer a:hover {
  border-bottom: 1px solid #f1f5f7;
}

.pre-footer a:active {
  color: rgba(241, 245, 247, .5);
  border-bottom: none;
}

.footer-main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 547px;
  padding: 0;
  padding-top: 21px;
}

a.footer-logo {
  display: inline-block;

  width: 220px;
  padding-top: 20px;
  padding-bottom: 19px;

  text-align: center;
}

.footer-secondary-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-secondary-navigation p {
  line-height: 22px;

  width: 323px;
  padding-top: 6px;
}

.footer-secondary-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 524px;
  padding: 0;
  padding-top: 7px;
}

.footer-secondary-navigation ul a {
  color: #ffd180;
}

.footer-secondary-navigation ul a:hover {
  border-bottom: 1px solid #ffd180;
}

.footer-secondary-navigation ul a:active {
  color: rgba(255, 209, 128, .5);
  border-bottom: none;
}

.main-footer {
  font-size: 16px;
  font-weight: normal;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding-right: 130px;
  padding-bottom: 10px;
  padding-left: 130px;

  color: #f1f5f7;
  background-color: #293449;
}

.main-footer ul {
  list-style: none;
}

.main-footer a {
  color: #ffd180;
}

.main-footer a:hover {
  border-bottom: 1px solid #ffd180;
}

.main-footer a:active {
  color: #ee3643;
  border: none;
}

.copyright {
  width: 222px;
  margin: 0;
  padding: 0;
  padding-top: 39px;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 138px;
  padding-top: 19px;
}

.footer-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 300px;
  padding-top: 22px;
}

a.sc-icon {
  display: inline-block;

  width: 42px;
  height: 42px;

  border: none;
  border-radius: 50%;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
}

a.sc-icon:hover {
  border: none;
  background-color: #ee3643;
}

a.sc-icon:active {
  border: none;
  background-color: #ee3643;
}

.vk-icon {
  background-image: url('../img/icon-vk.svg');
  background-size: 26px 15px;
}

.fb-icon {
  background-image: url('../img/icon-fb.svg');
  background-size: 12px 22px;
}

.ins-icon {
  background-image: url('../img/icon-insta.svg');
  background-size: 21px 21px;
}

.modal-add-cart {
  display: none;

  border-top: 7px solid #ee3643;
}

.modal-add-cart h2 {
  font-size: 30px;

  background-image: url('../img/icon-mark.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.btnset {
  background-color: #f1f1f1;
}

.btnset a {
  font-size: 14px;

  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;
}

.btnset button {
  font-size: 14px;

  text-transform: uppercase;

  color: #000000;
  background-color: #ffffff;
}

.modal-close {
  background-image: url('../img/icon-close.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.header-info-auth a {
  font-size: 21px;

  display: inline-block;

  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 14px;
  padding-left: 25px;

  color: #32425c;
  background-color: #ffffff;
}

a.login-btn {
  margin-right: 10px;
  padding-left: 40px;
}

.login-btn::before {
  display: inline-block;

  width: 20px;
  height: 17px;

  content: '';

  background-image: url('../img/icon-login.svg');
  background-repeat: no-repeat;
}

a.profile-name {
  font-size: 21px;
  font-weight: normal;

  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 34px;

  color: #000000;
}

a.profile-name:active {
  color: rgba(0, 0, 0, .3);
}

.profile-name::before {
  display: inline-block;

  width: 20px;
  height: 18px;

  content: '';

  background-image: url('../img/icon-user.svg');
  background-repeat: no-repeat;
}

.profile-exit {
  background-image: url('../../img/icon-logout.svg');
  background-repeat: no-repeat;
}

a.my-orders-login,
a.my-cabinet-login {
  font-size: 16px;

  padding: 0;

  background-color: transparent;
}

a.my-orders-login {
  margin-right: 28px;
  margin-left: 4px;
}

.my-orders-login::after {
  display: inline-block;

  width: 4px;
  height: 4px;

  content: '';

  border-radius: 50%;
  background-color: #32425c;
}

.promo-section h3 {
  font-size: 24px;
  font-weight: bold;

  margin: 0;
  margin-bottom: 29px;

  color: #ffffff;
}

.promo-section ul {
  list-style: none;
}

.promo-section ul li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  min-height: 123px;
  padding-top: 24px;
  padding-left: 24px;

  background-repeat: no-repeat;
}

.promo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-bottom: 53px;
}

.slide-hidden {
  display: none;
}

.promo-btn {
  display: inline-block;

  width: 135px;
  padding-top: 8px;
  padding-bottom: 8px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(0, 0, 0, .1);
}

.promo-btn:hover {
  background-color: rgba(0, 0, 0, .2);
}

.promo-btn:active {
  background-color: rgba(0, 0, 0, .3);
}

.promo-materials {
  position: relative;

  overflow: hidden;

  background-color: #ffbf47;
  background-image: url('../img/icon-paint.svg');
  background-position: 216px 35px;
  background-size: 44px 65px;
}

.promo-tools {
  background-color: #3bbce3;
  background-image: url('../img/icon-drill.svg');
  background-position: 200px 35px;
  background-size: 75px 61px;
}

.promo-machine {
  background-color: #dc91d8;
  background-image: url('../img/icon-tractor.svg');
  background-position: 195px 35px;
  background-size: 78px 62px;
}

.slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 620px;
  min-height: 266px;

  color: #ffffff;
}

.slider h3 {
  font-size: 36px;
  font-weight: bold;

  margin: 0;
}

.slider span {
  font-size: 18px;
}

.slider div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide-drill {
  height: 266px;

  background-color: #241717;
  background-image: url('../img/slider-drill.jpg');
}

.slide-perf {
  height: 266px;

  background-color: #241717;
  background-image: url('../img/slider-perforator.jpg');
}

.slider-btn {
  font-size: 14px;

  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;
}

.slider-btn:hover {
  background-color: #ca2c37;
}

.slider-btn:active {
  background-color: #ba2732;
}

.promo-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.promo-sale {
  background-color: #8ed78f;
  background-image: url('../img/icon-cart.svg');
  background-position: 200px 35px;
  background-size: 59px 72px;
}

.promo-delivery {
  background-color: #ffc047;
  background-image: url('../img/icon-delivery.svg');
  background-position: 195px 35px;
  background-size: 78px 63px;
}

.tag-new-promo {
  font-size: 17px;
  font-weight: normal;

  position: absolute;
  top: 6px;
  left: 234px;

  display: inline-block;

  width: 93px;
  padding: 6px 0;

  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;

  color: #ffffff;
  background-color: #ee3643;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 89px;
  margin-bottom: 21px;
  padding-top: 26px;
  padding-right: 24px;
  padding-bottom: 25px;
  padding-left: 29px;

  background-color: #f9f5f0;
}

.section-header h2 {
  font-size: 30px;
  font-weight: normal;

  margin: 0;

  text-transform: uppercase;

  color: #32425c;
}

.section-header a {
  font-size: 14px;

  display: inline-block;

  min-width: 252px;
  padding-top: 11px;
  padding-bottom: 10px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;
}

.manufacturer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  margin: 0;
  margin-bottom: 65px;
  padding: 0;

  list-style: none;
}

.manufacturer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: solid 1px #eaeaea;
}

.manufacturer-item:nth-child(4n) {
  margin-right: 0;
}

.section-servises {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  min-height: 522px;
  margin-right: auto;
  margin-bottom: 78px;
  margin-left: auto;
  padding-top: 65px;
  padding-right: 130px;
  padding-left: 130px;

  color: #000000;
  background-color: #f4f7f9;
}

.section-servises h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;

  margin: 0;
  margin-bottom: 25px;

  text-transform: uppercase;

  color: #000000;
}

.section-servises h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;

  margin: 0;

  text-transform: uppercase;

  color: #32425c;
}

.section-servises-description {
  width: 398px;
  margin-top: 0;
  margin-bottom: 67px;
}

.servises-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.services-slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin-right: 80px;
}

.servises-tab {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;

  min-width: 218px;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 22px;

  color: #ffffff;
  background-color: #32425c;
}

.servises-tab:hover {
  background-color: #293449;
}

.servises-tab.active-tab {
  color: #32425c;
  background-color: #ffffff;
}

.service-item {
  background-repeat: no-repeat;
  background-position: right top;
}

.service-item h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.service-item p {
  width: 278px;
  margin: 0;
}

.service-item.hide-tab {
  display: none;
}

.service-delivery {
  background-image: url('../img/delivery-image.png');
  background-size: 468px 261px;
}

.service-guarantee {
  background-image: url('../img/guarantee-image.png');
  background-size: 389px 283px;
}

.service-credit {
  background-image: url('../img/credit-image.png');
  background-size: 465px 285px;
}

.service-credit a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;

  text-transform: uppercase;

  color: #ffffff;
  background-color: #ff5357;
}

.company {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 940px;
  margin-right: auto;
  margin-bottom: 86px;
  margin-left: auto;

  color: #000000;
}

.company h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;

  margin: 0;

  text-transform: uppercase;
}

.company ul {
  padding: 0;

  list-style: none;
}

.company p {
  margin: 0;
  padding-top: 25px;
}

.logistic-company {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.logistic-company::before {
  content: '\2014';
}

.company-about {
  width: 519px;
}

.company-about a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  display: inline-block;

  width: 220px;
  margin-top: 10px;
  padding-top: 13px;
  padding-bottom: 8px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;
}

.company-about a:hover {
  background-color: #ca2c37;
}

.company-about a:active {
  background-color: #ba2732;
}

.logistic-company {
  padding-top: 7px;
  padding-bottom: 13px;
}

.company-contacts {
  width: 300px;
}

.company-contacts p {
  width: 179px;
  margin-bottom: 36px;
}

.map-link {
  display: inline-block;

  margin-top: -5px;
}

.write-us {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  display: inline-block;

  width: 300px;
  margin-top: 31px;
  padding-top: 13px;
  padding-bottom: 8px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;
}

.write-us:hover {
  background-color: #ca2c37;
}

.write-us:active {
  background-color: #ba2732;
}

.modal-feedback {
  display: none;
}

.modal-feedback fieldset {
  border: none;
  border-top: 7px solid #ee3643;
}

.modal-feedback fieldset label {
  font-size: 18px;

  color: #000000;
}

.modal-feedback fieldset input,
.modal-feedback fieldset textarea {
  border: 2px solid #d7dcde;
  outline: none;
}

.modal-feedback fieldset input::-webkit-input-placeholder,
.modal-feedback fieldset textarea::-webkit-input-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #999999;
}

.modal-feedback fieldset input:-ms-input-placeholder,
.modal-feedback fieldset textarea:-ms-input-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #999999;
}

.modal-feedback fieldset input::-ms-input-placeholder,
.modal-feedback fieldset textarea::-ms-input-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #999999;
}

.modal-feedback fieldset input::placeholder,
.modal-feedback fieldset textarea::placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #999999;
}

.modal-feedback fieldset input:hover,
.modal-feedback fieldset textarea:hover {
  border-color: #b5b5b5;
}

.modal-feedback fieldset input:focus,
.modal-feedback fieldset textarea:focus {
  border-color: #ee3643;
}

.btn-wraper {
  background-color: #f1f1f1;
}

.btn-wraper button {
  font-size: 14px;

  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;
}

.modal-map {
  display: none;
}
